{% extends 'app/base.html' %}
{% load static %}
{% block title %}password reset done{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-4 border-end">
      <h5 class="text-justify text-danger">Check your <span class="text-success">Email</span></h5>
  </div>
  <div class="col-sm-7 offset-sm-1">
      <h5 class="text-primary">An Email has been sent to your registered id Click the link given in email page to reset your password....</h5>
  </div>
 </div>
</div>
{% endblock main-content %}