{% extends 'app/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
     <h3>Welcome <span class="text-capitalize text-danger">{{request.user}}</span></h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-{{active}}">Profile</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn ">Address</a></li>
   </ul>
  </div>
  <div class="col-sm-6 offset-sm-1">
   <form action="" method="post" novalidate class="shadow p-3" >
    {% csrf_token %}
    {% for fm in form %}
       {{fm.label_tag}}
       {{fm}}
       {{fm.errors|striptags}}
       {% endfor %}

        <br>

       {% if non_field_errors %}
       {% for ne in non_field_errors %}
       <small class="text-info">{{ne}}</small>
       {% endfor %}
       {% endif %}
       <input type="submit" value="submit" class="btn btn-primary my-2"><br>

       {% if messages %}
       {% for m in messages %}
       <span {% if m.tags %}class="text-{{m.tags}}"{% endif %}>{{m}}</span>
       {% endfor %}
       {% endif %}

   </form>
  </div>
 </div>
</div>
{% endblock main-content %}